<mat-card class="mat-elevation-z24">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <!-- <h3 class="mat-display-1"><mat-icon>perm_identity</mat-icon>Profile Detail</h3> -->
      <h1>Profile Detail</h1>
    </mat-card-title>
    <mat-card-subtitle><h2><mat-icon>perm_identity</mat-icon>{{user.name}}</h2></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>
      <mat-icon>location_on</mat-icon>{{user.address.street}}
    </h4>
    <h4>
      <mat-icon>phone</mat-icon>{{user.phone}}
    </h4>
    <h4>
      <mat-icon>email</mat-icon>{{user.email}}
    </h4>
    <h4>
      <mat-icon>web</mat-icon>{{user.website}}
    </h4>
    <h4>
      <mat-icon>location_city</mat-icon>{{user.company.name}}
    </h4>
  </mat-card-content>
</mat-card>

<!-- "id": 1,
"name": "Leanne Graham",
"username": "Bret",
"email": "Sincere@april.biz",
"address": {
  "street": "Kulas Light",
  "suite": "Apt. 556",
  "city": "Gwenborough",
  "zipcode": "92998-3874",
  "geo": {
    "lat": "-37.3159",
    "lng": "81.1496"
  }
},
"phone": "1-770-736-8031 x56442",
"website": "hildegard.org",
"company": {
  "name": "Romaguera-Crona",
  "catchPhrase": "Multi-layered client-server neural-net",
  "bs": "harness real-time e-markets"
}
}, -->