<mat-card class="mat-elevation-z24">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Profile Detail</mat-card-title>
    <mat-card-subtitle>First Last</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      this is a test yes this is a test th  thi  a test th
    </p>
    <p>
      this is a test yes this is a test i this is a test th this is a test th
    </p>
    <p>
      this is a test yes this is a test th test th this is a test th
    </p>

  </mat-card-content>
</mat-card>