


<h2>Welcome to Dunder-Miffling</h2>
<!-- <br> -->
<h3 [hidden]="hideLoginFailed">Email Not Found</h3>
<h5>Please enter your Email to view your posts and comments</h5>
<form #myForm="ngForm" (ngSubmit)="login()">
  <table class="center">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Email" [formControl]="loginEmailFormControl" name="aa" (keyup)="validateLoginForm()">
      <mat-error *ngIf="loginEmailFormControl.hasError('email')">
        Invalid Email
      </mat-error>
    </mat-form-field>
  </table>
  <div>
      <button mat-flat-button color="primary" [disabled] = "loginButtonDisabled" (click)="close()">Login</button>
  </div>
</form>  

