<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <div [hidden]="hideMenu">
    <button id= "hamburger" mat-icon-button [matMenuTriggerFor]="menu" name="hamButton">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="onLogout()" name="outButton">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    </div>
  </span>
  <span id="postTitle" class="fill-remaining-space">User Posts Application</span>
</mat-toolbar>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>



